html {
  scroll-behavior: smooth;
}

body {
  padding-top: 54px;
}

.nav-link {
  color: black;
  font-size: 14pt;
}

.nav-link:hover {
  color: #182B6D;
  border-bottom: dotted 2px #182B6D;
}

.intro {
  background-image: url("/img/background_intro.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 600px;
}

.intro-content {
  align-items: center;
  align-content: center;
  margin-left: 35%;
  margin-top: 15%;
  position: absolute;
  max-width: 550px;
  padding: 30px;
  background-color: #F2F2F2;
  border-radius: 10px;
}

.btn-danger {
  margin-left: 30%;
  margin-top: 5%;
  background-color: #F20C0C;
}

.produk {
  background-color: #182B6D;
  color: white;
  padding: 70px 100px;
}

.produk-container {
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
}

.produk-content {
  width: 450px;
  background-color: white;
  color: black;
  text-align: center;
  padding: 20px;
}

.flex-container {
  display: flex;
  margin-bottom: 2%;
}

.flex-child {
  flex: 1;
}


.flex-child-2 {
  flex: 1;
}

.flex-child:first-child {
  margin-right: 20px;
}

.tentang {
  padding: 70px 100px;
}

.domain-kerja {
  width: 300px;
  background-color: #f2f2f2;
  color: black;
  padding: 30px;
  margin: 2% 2% 2% 0;
}

.kontak {
  background-color: #182B6D;
  color: white;
  padding: 70px 100px;
  text-align: center;
}

#foot1,
#foot2 {
  display: inline-block;
  margin-top: 3%;
}

#foot1 {
  margin-left: 7%;
}

#foot2 {
  text-align: right;
  margin-left: 45%;
}

.publikasi {
  background-color: white;
  padding: 100px;
}


.publikasi-content {
  width: 450px;
  color: black;
  text-align: left;
  padding: 20px;
}

.image-left{
  float: left;
  object-fit: cover;
}

.title-publikasi{
  color: #182B6D;
  cursor: pointer;
}

@media (min-width: 992px) {
  body {
      padding-top: 56px;
  }
}

input[type=text], input[type=email], select, textarea {
  width: 100%;
  padding: 12px;
  border: none;
  border-bottom: 3px solid white;
  color: white;
  border-radius: 4px;
  box-sizing: border-box;
  margin-top: 6px;
  margin-bottom: 16px;
  background-color: transparent;
  resize: vertical;
}

input[type=submit] {
  background-color: transparent;
  color: white;
  padding: 12px 20px;
  border: 2px solid white;
  border-radius: 4px;
  cursor: pointer;
  text-align: center;
}

input[type=submit]:hover {
  background-color: white;
  color: #182B6D;
}

.container {
  border-radius: 5px;
  background-color: transparent;
  padding: 20px;
  text-align: left;
}
::placeholder {
  color: white;
  opacity: 1; /* Firefox */
}

:-ms-input-placeholder { /* Internet Explorer 10-11 */
 color: white;
}

::-ms-input-placeholder { /* Microsoft Edge */
 color: white;
}